* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

h2 {
  color: white;
  padding-top: 450px;
  font-size: 20px;
  font-weight: lighter;
}

h1 {
  font-size: 37px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  position: relative;
  bottom: 50px;
  left: 50px;
}

.space1 {
  height: 100vh;
  background-image: url("./images/pexels-instawalli-176851.jpg");
  background-size: cover;
  background-position: center center;
}

.space2 {
  height: 100vh;
  background-image: url("./images/pexels-felix-mittermeier-1146134.jpg");
  background-size: cover;
  background-position: center center;
}

.space3 {
  height: 100vh;
  background-image: url("./images/pexels-aleksandar-pasaric-1694000.jpg");
  background-size: cover;
  background-position: center center;
}

.link {
  box-sizing: border-box;
  border: solid white;
}

.navbar {
  width: 100%;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 3.5rem;
  position: fixed;
  word-spacing: 10px;
  color: white;
  background-color: transparent;
  margin-top: 30px;
  margin-left: 40px;
}

a {
  color: white;
  font-size: 15px;
  gap: 3.5rem;
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  gap: 5rem;
  word-spacing: 30px;
}

footer {
  background: black;
  text-align: center;
  color: #555;
  padding: 30px;
  position: relative;
}
